[submodule "Algoritmos-de-ordenamiento"]
	path = Algoritmos-de-ordenamiento
	url = https://github.com/JDavid-Moreno/Algoritmos-de-ordenamiento.git
[submodule "Notacion-BigO"]
	path = Notacion-BigO
	url = https://github.com/JDavid-Moreno/Notacion-Big-O.git
[submodule "Teorema-Maestro"]
	path = Teorema-Maestro
	url = https://github.com/JDavid-Moreno/Teorema-Maestro.git
[submodule "Dividir-y-conquistar"]
	path = Dividir-y-conquistar
	url = https://github.com/JDavid-Moreno/Dividir-y-conquistar.git
[submodule "Programacion-Dinamica"]
	path = Programacion-Dinamica
	url = https://github.com/JDavid-Moreno/Programacion-Dinamica.git
[submodule "Estructuras-Lineales"]
	path = Estructuras-Lineales
	url = https://github.com/JDavid-Moreno/Estructuras-Lineales.git
